.nav-button {
    background: darkblue;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 4px 12px;
    margin: 6px 4px;
}
#game {
    background: cornflowerblue;
    min-height: 400px;
    padding: 16px;
    padding-top: 0px;
}

#game > h1 {
    color: white;
    text-align: center;
    padding: 8px;
    font-family: "Comic Sans MS", serif;
}
#wheel-and-buttons-container {
    display: flex;
}
#wheel-container {
    flex-basis: 220px;
    width: 220px;
    height: 220px;
    background: #61dafb;
    border-radius: 12px;
    box-shadow: inset 0px 2px 5px blue;
}
#buttons-container {
    flex-grow: 1;
}
#buttons-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 9px;
    justify-content: space-between;
}
.fortune-button {
    text-align: center;
    border: 3px solid gold;
    margin-bottom: 8px;
    border-radius: 8px;
    color: gold;
    font-weight: bold;
    font-family: "Comic Sans MS";
    background: crimson;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 7px 0px crimson;
    transition: 0.2s;
}
.fortune-button:hover {
    background: orangered;
}
.fortune-button:focus {
    box-shadow: none;
    margin-top: 8px;
    margin-bottom: 0 !important;
}
.fortune-info {
    text-align: center;
    border: 3px solid gold;
    margin-bottom: 4px;
    border-radius: 8px;
    color: gold;
    font-weight: bold;
    font-family: "Comic Sans MS";
    background: dodgerblue;
    font-size: 18px;
}

#overlay{
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    background-color: rgba(0, 0, 0, 0.2);
}

#overlay > div{
    margin: auto;
}